<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="multi.backend.project.review.Mapper.reviewMapper">

    <insert id="insertReview" parameterType="reviewVO">
        <selectKey keyProperty="review_id" resultType="_int" order="BEFORE">
            select TO_NUMBER(Review_Sequence.nextval) from dual
        </selectKey>
            insert into review(review_id, user_id, review_title, review_content, create_date, update_date, review_views, review_recommends)
            values(#{review_id}, #{user_id},#{review_title},#{review_content},SYSDATE,SYSDATE,0,0)
    </insert>

</mapper>

